execute = {sh,-c,/usr/bin/php7 /usr/share/webapps/rutorrent/php/initplugins.php abc &}
execute.nothrow = rm,/run/php/.rtorrent.sock
# network.scgi.open_port = 0.0.0.0:5000
network.scgi.open_local = /run/php/.rtorrent.sock
schedule2 = socket_chmod, 0, 0, "execute=chmod,0660,/run/php/.rtorrent.sock"
schedule2 = socket_chgrp, 0, 0, "execute=chgrp,abc,/run/php/.rtorrent.sock"

schedule2 = watch_directory_1, 5, 5, "load.start=/downloads/watched/*.torrent"
schedule2 = low_diskspace, 5, 60, close_low_diskspace=100M

log.open_file = "rtorrent", /config/log/rtorrent/rtorrent.log
log.add_output = "info", "rtorrent"

throttle.min_peers.normal.set = 40
throttle.max_peers.normal.set = 1200
throttle.max_uploads.set = 15
throttle.global_down.max_rate.set_kb = 10000
throttle.global_up.max_rate.set_kb = 5000
directory.default.set = /downloads/incoming
session.path.set = /config/rtorrent/rtorrent_sess
# network.local_address.set = 178.32.28.51
network.bind_address.set = 0.0.0.0
network.port_range.set = 51413-51413
pieces.hash.on_completion.set = yes
trackers.use_udp.set = yes
protocol.encryption.set = allow_incoming,try_outgoing,enable_retry
dht.mode.set = auto
dhg.port.set = 6881
protocol.pex.set = yes
# network.http.ssl_verify_peer.set=0
encoding.add = UTF-8
# system.umask.set = 022
